/******** DEFAULTS ********/
*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Epilogue', sans-serif;
}

html {
    font-size: 62.5%;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active, a:focus {
    color: inherit; 
    text-decoration: none; 
    background-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/******** HEADER ********/

.header {
    padding-top: 3.2rem;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__title>h1 {
    padding: 1.4rem 0 1.2rem 1.4rem;
}

.header__contact-link {
      
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 3.6rem 1.6rem;
    border-radius: 6px;
    border: solid 1px #738FA7;
    text-wrap: nowrap;
}

.header__contact-link:hover {
    background-color: #738FA7;
}

.nav__list {
    list-style-type: none;
    width: 37rem;
    max-height: 3.2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__item {
    max-height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.6rem;
    padding: 0 1.6rem;
}

.nav__item:hover {
    border-bottom: #738FA7 2px solid;
}

/******** BANNER AREA ********/

.banner {
    background-color: #071330;
    color: white;
    width: 100%;
    height: auto;
    padding: 0 9.4rem 9.4rem;

    display: flex;
    flex-direction: column;
}

.banner__content {
    padding-top: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner__text {
    width: 100%;
}

.banner__heading {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8rem;
    margin-bottom: 2.4rem;
}

.banner__description{
    line-height: 3.2rem;
    font-size: 1.6rem;
    margin-bottom: 5.1rem;
}

.banner__portfolio-link {
    background-color: #4A90E2;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 3.6rem 1.6rem;
    border-radius: 6px;
    box-shadow: 2px 1px 5px #1e1e1e;
}

.banner__portfolio-link:hover, .banner__portfolio-link:active, .banner__portfolio-link:focus {
    background-color: #0C4160;
}

.banner__image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner__image {
    position: relative;
    height: 56.5rem;
    width: 55rem;
    max-width: 55rem;
    max-height: 56.5rem;
}

.crooked-box {
    position: absolute;
    background-color: #5B8EE1;
    width: 12.8rem;
    height: 12.8rem;
    animation-name: rotate-croocked-box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    z-index: 99;
}


.card-skills {
    position: absolute;
    background-color: #fff;
    color: #071330;
    padding: 2.2rem;
    border-radius: 8px;
    max-width: 27.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 98;
    top: 29rem;
    gap: 1.6rem;
}

.card-skills--skill-bars {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-skills--top {
    background-color: #C3CEDA;
    width: 8rem;
    height: 1.8rem;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.card-skills--bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 5rem;
}

.bar {
    background-color: #C3CEDA;
    width: 0.8rem;
    height: 5rem;
    margin: 0 0.8rem;
    border-radius: 4px;


    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.bar-1, .bar-4, .bar-6 {
    height: 3.8rem;
}

.bar-5, .bar-7 {
    height: 2.7rem;
}

.bar-2 {
    height: 4.4rem;
}

.bar-1, .bar-3 {
    animation-name: transform-skill-bars-1-3;
}

.bar-2, .bar-7 {
    animation-name: transform-skill-bars-2-7;
}

.bar-5, .bar-4 {
    animation-name: transform-skill-bars-4-5;
}

.bar-6 {
    animation-name: transform-skill-bars-6;
}

@keyframes transform-skill-bars-1-3 {
    100% {height: 2.7rem;}
}

@keyframes transform-skill-bars-2-7 {
    100% {height: 3.8rem;}
}

@keyframes transform-skill-bars-6 {
    100% {height: 4.4rem;}
}

@keyframes transform-skill-bars-4-5 {
    100% {height: 5rem;}
}

@keyframes rotate-croocked-box {
    100% {transform: rotate(15deg);}
}

.image-slider {
    position: absolute;
    width: 30rem;
    height: 38rem;
    overflow: hidden;
    border-start-end-radius: 50% 40%;
    border-start-start-radius: 50% 40%;
    border-end-end-radius: 8px;
    border-end-start-radius: 8px;
    z-index: 97;

    right: 0;
    top: 9rem;
}
  
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background-size: cover;
    background-position: center;
    transition: top 2s ease;
    z-index: 1;
}

.slide-visible {
    top: 0;
    z-index: 2;
}

.slide-previous {
    top: -100%;
    z-index: 0;
}


@keyframes change-image {
    25% {background-image: url("/assets/images/banner-peanuts-large.jpeg");}
    50% {background-image: url("/assets/images/banner-cthulhu-large.jpg");}
    75% {background-image: url("/assets/images/banner-buba-large.jpeg");}
    100% {background-image: url("/assets/images/banner-tuquinho-large.jpeg");}
}

.circle-background {
    position: absolute;
    background-color: #C3CEDA;
    border-radius: 50%;
    height: 41rem;
    width: 41rem;

    bottom: 0;
    left: 5rem;
}

/******** ABOUT AREA ********/

.about {
    background-color: #C3CEDA;
    color: #1e1e1e;
    width: 100%;
    padding: 9rem 9.4rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__heading {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 6.4rem;
    margin-bottom: 6.4rem;
}

.about__content {
    padding: 0 24rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6.4rem;
}

.about__photo {
    width: 100%;
    max-width: 20vw;
    min-width: 20vw;
    flex-grow: 1;
}

.about__photo img {
    border-radius: 6px;
}

.about__info {
    flex-grow: 2;
}

.about__name {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 1.8rem ;
}

.about__bio {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-bottom: 5.8rem ;
}

.about__link { 
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 3.6rem 1.6rem;
    border-radius: 6px;
    box-shadow: 2px 1px 5px #888888;
}

.about__link:hover, .about__link:active, .about__link:focus {
    color: #fff;
    background-color: #0C4160;
}

/******** AI AREA ********/

.ai {
    background-color: #4A90E2;
    color: #fff;
    padding: 4.5rem 9.4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.ai__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ai__heading {
    font-weight: 800;
    font-size: 4.4rem;
    line-height: 6.4rem;
}

.ai__text {
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.ai__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
}

.open-ai-logo {
    width: 10rem;
    height: 10rem;
    position: relative;
    background-image: url('../assets/images/openai-svgrepo-com.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.copilot-logo {
    width: 10rem;
    height: 10rem;
    position: relative;
    background-image: url('../assets/images/github-copilot-seeklogo.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.midjourney-logo {
    width: 10rem;
    height: 10rem;
    position: relative;
    background-image: url('../assets/images/midjourney-seeklogo.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

/******** EXP & EDU AREA ********/

.cv {
    width: 100%;
    padding: 9rem 9.4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 6.4rem;
}

.cv__column {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cv__column--item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1.6rem;;
}

.cv__column--info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cv__column--icon {
    font-size: 3.2rem !important;
    margin-right: 1.6rem;

    color: #4A90E2;
}

.cv__course {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.cv__university {
    font-weight: 400;
    font-size: 1.6rem;
}

.cv__heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 6.4rem;
}

.cv__heading h2 {
    font-weight: 800;
    font-size: 4.4rem;
    line-height: 6.4rem;
}

.cv__cta {
    width: 100%;
    margin-top: 6.4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cv__cta a {
    color: #fff;
}

.divider {
    height: 1px;
    width: 100%;
    margin-top: 1.6rem;
    background-color: #738FA780;
}

/******** PORTFOLIO AREA ********/

.portfolio {
    background-color: #0C4160;
    color: #fff;
    width: 100%;
    padding: 9rem 9.4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio__header {
    margin-bottom: 6.4rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio__heading {
    width: 100%;
    font-weight: 800;
    font-size: 4.4rem;
    line-height: 6.4rem;
}

.portfolio__latest-works { 
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.portfolio__latest-works--item {
    width: 100%;
    height: 57.6rem;
    background-color: red;
    padding: 0 3.2rem 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.portfolio__latest-works--item-1 {
    position: relative;
    background-image: linear-gradient(rgb(30,30,30,0.7), rgb(30,30,30,0.7)), url('../assets/images/portfolio-sticker-story.png');
    background-color: #1e1e1e;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio__latest-works--item-2 {
    position: relative;
    background-image: linear-gradient(rgb(30,30,30,0.7), rgb(30,30,30,0.7)), url('../assets/images/porfolio-personal-website.png');
    background-color: #1e1e1e;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio__latest-works--item-3 {
    position: relative;
    background-image: linear-gradient(rgb(30,30,30,0.7), rgb(30,30,30,0.7)), url('../assets/images/coming-soon.png');
    background-color: #1e1e1e;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.portfolio__badge {
    width:fit-content;
    font-size: 1.6rem;
    color: #1e1e1e;
    background-color: #fff;
    padding: 1rem 1.5rem 0.8rem;
    border-radius: 20px;
    margin-bottom: 2.4rem;
}

.portfolio__item {
    font-size: 4rem;
    font-weight: 800;
}

/******** FOOTER AREA ********/

.footer {
    background-color: #071330;
    color: #fff;
    width: 100%;
    padding: 9rem 9.4rem 5.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__title {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__title>h1 {
    padding: 0.5rem 0 0 1.4rem;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer__divider {
    width: 100%;
    margin: 1.4rem auto 1.4rem auto;
    border-top: 1px solid #738FA7;
    border-collapse:separate;
}

.footer__bottom {
    font-size: 1.4rem;
}

.nav-mobile {
    display: none;
}

/******** INNER PAGES ********/

.inner-page__heading {
    text-align: center;
}


/******** WIP PAGE ********/

.main-wip-page {
    background-color: #0C4160;
    color: white;
    width: 100%;
    height: 100vh;
    padding: 0 9.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
}

.wip-message {
    font-size: 2.4rem;
    text-align: center;
}

.wip-image {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    overflow: hidden;
}


/******** MOBILE STYLES ********/

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .banner__heading {
        font-size: 4.8rem;
        line-height: 6rem;
    }

    .about__heading, .cv__heading h2, .portfolio__heading {
        font-size: 3.6rem;
    }
}

@media (max-width: 950px) {
    .banner, .about, .ai, .cv, .portfolio, .footer {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    .about__content, .cv, .ai, .ai__content {
        flex-direction: column;
        gap: 6.4rem;
    }

    .about__content {
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .about__photo {
        width: 100%;
        max-width: 80%;
    }

    .cv__heading {
        margin-bottom: 0;
    }

    .cv__cta { 
        margin-top: 3.2rem;
    }

    .banner__content {
        padding-top: 24rem;
        flex-direction: column-reverse;
        gap: 6.4rem;
    }

    .banner__image {
        display: none;
       width: 80vw;
    }

    .image-slider {
        width: 55%;
        height: auto;
        aspect-ratio: 3 / 4;
        top: auto;
        bottom: 8rem;
    }

    .circle-background {
        height: auto;
        width: 80%;
        aspect-ratio: 1 / 1;
    }

    .cv__column {
        width: 100%;
    }

    .portfolio__latest-works {
        flex-direction: column;
    }

    .portfolio__latest-works--item-3 {
        display: none;
    }

    .header .header__contact-link, .nav {
        display: none;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .nav__item {
        padding: 0.5rem 0;
    }

    .nav-mobile {
        display: block;
    }

    .material-symbols-outlined {
        font-size: 40px !important;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background: #0C4160;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1500;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 30, 30, 0.7);
        display: none;
        z-index: 1400;
    }
    
    .mobile-menu ul {
        list-style-type: none;
        padding: 3.2rem;
    }
    
    .mobile-menu ul li a {
        font-size: 2.4rem;
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #fff;
    }
    
    #close-menu {
        display: block;
        text-align: right;
        padding: 3.2rem;
    }

    .wip-image {
        width: 60vw;
        height: auto;
    }
}

