/******** DEFAULTS ********/
*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Rubik', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Epilogue', sans-serif;
}

html {
    font-size: 62.5%;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active, a:focus {
    color: inherit; 
    text-decoration: none; 
    background-color: transparent;
}

body {

}

main {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/******** HEADER ********/

.header {
    padding-top: 1.6rem;
    color: white;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__title>h1 {
    padding: 1.4rem 0 1.2rem 1.4rem;
}

.header__contact-link {
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 3.6rem 1.6rem;
    border-radius: 6px;
    border: solid 1px #738FA7;
}

.header__contact-link:hover {
    background-color: #738FA7;
}

.nav__list {
    list-style-type: none;
    width: 37rem;
    max-height: 3.2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__item {
    max-height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.6rem;
    padding: 0 1.6rem;
}

.nav__item:hover {
    border-bottom: #738FA7 2px solid;
}

/******** BANNER AREA ********/

.banner {
    background-color: #071330;
    color: white;
    width: 100%;
    height: 88rem;

    display: flex;
    flex-direction: column;
}

.banner__content {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

.banner__text {
    flex-grow: 2;
}

.banner__heading {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8rem;
    margin-bottom: 2.4rem;
}

.banner__description{
    line-height: 3.2rem;
    font-size: 1.6rem;
    margin-bottom: 5.1rem;
}

.banner__portfolio-link {
    background-color: #4A90E2;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 3.6rem 1.6rem;
    border-radius: 6px;
    box-shadow: 2px 1px 5px #1e1e1e;
}

.banner__portfolio-link:hover, .banner__portfolio-link:active, .banner__portfolio-link:focus {
    background-color: #0C4160;
}

.banner__image {
    overflow: hidden;
    flex-grow: 1;
}

.banner__image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******** ABOUT AREA ********/

.about {
    background-color: #C3CEDA;
    color: #1e1e1e;
    width: 100%;
    padding: 9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__heading {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 6.4rem;
    margin-bottom: 9.4rem;
}

.about__content {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about__photo {
    margin-right: 5vw;
}

.about__photo img {
    border-radius: 6px;
}

.about__name {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 1.8rem ;
}

.about__bio {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-bottom: 5.8rem ;
}

.about__link { 
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 3.6rem 1.6rem;
    border-radius: 6px;
    box-shadow: 2px 1px 5px #888888;
}

.about__link:hover, .about__link:active, .about__link:focus {
    color: #fff;
    background-color: #0C4160;
}

/******** AI AREA ********/

.ai {
    background-color: #4A90E2;
    color: #fff;
    width: 100%;
    padding: 4.5rem 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ai__content {
    width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ai__heading {
    font-weight: 800;
    font-size: 4.4rem;
    line-height: 6.4rem;
}

.ai__text {
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-right: 5vw;
}

.ai__icons svg {
    fill: #fff;
}

/******** EXP & EDU AREA ********/

.cv {
    width: 100%;
    padding: 9rem 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.cv__column {
    width: 60rem;
    padding: 0 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cv__column--item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1.6rem;;
}

.cv__column--info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cv__column--icon {
    font-size: 3.2rem !important;
    margin-right: 1.6rem;

    color: #4A90E2;
}

.cv__course {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.cv__university {
    font-weight: 400;
    font-size: 1.6rem;
}

.cv__heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.6rem;
}

.cv__heading h2 {
    font-weight: 800;
    font-size: 4.4rem;
    line-height: 6.4rem;
}

.cv__cta {
    width: 100%;
    margin-top: 6.4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cv__cta a {
    color: #fff;
}

.divider {
    height: 1px;
    width: 100%;
    margin-top: 1.6rem;
    background-color: #738FA780;
}

/******** PORTFOLIO AREA ********/

.portfolio {
    background-color: #0C4160;
    color: #fff;
    width: 100%;
    padding: 9rem 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio__header {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9.4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portfolio__heading {
    font-weight: 800;
    font-size: 4.4rem;
    line-height: 6.4rem;
}

.portfolio__latest-works { 
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portfolio__latest-works--item {
    width: 100%;
    height: 57.6rem;
    background-color: red;
    margin-left: 2vw;
    padding: 0 3.2rem 3.2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.portfolio__latest-works--item:last-of-type {
    margin-right: 2vw;
}

.portfolio__badge {
    width:fit-content;
    font-size: 1.6rem;
    color: #1e1e1e;
    background-color: #fff;
    padding: 1rem 1.5rem 0.8rem;
    border-radius: 20px;
    margin-bottom: 2.4rem;
}

.portfolio__item {
    font-size: 4rem;
    font-weight: 800;
}

/******** FOOTER AREA ********/

.footer {
    background-color: #071330;
    color: #fff;
    width: 100%;
    padding: 9rem 0 5.2rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer__top {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__title {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__title>h1 {
    padding: 0.5rem 0 0 1.4rem;
}

.footer__bottom {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer__divider {
    width: 80vw;
    margin: 1.4rem auto 1.4rem auto;
    border-top: 1px solid #738FA7;
    border-collapse:separate;
}

.footer__bottom {
    font-size: 1.4rem;
}