<header>
    <div id="left-header">
        <div id="left-inner-border-holder"></div>
        <div id="social-header">
            <p>follow me on:</p>
        </div>
        <nav id="nav-left-header">
            <ul>
                <li>
                    Home     
                </li>
                <li>
                    About me
                </li>
                <li>
                    Curriculum Vitae
                </li>
            </ul>
        </nav>
    </div>
    <div id="logo-header">

    </div>
    <div id="right=header">

    </div>
</header>