@import 'src/styles.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
    background-color: $color-primary;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.35);
    gap: 13.5rem;

    &__side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        
        &--left {
            width: 50rem;
        }
        &--right {
            width: 50rem;
        }
    }

    &__part {
        &--top {
            height: 37%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            p {
                color: $color-secundary-text;
            }
            a {
                height: 2.4rem;
                text-decoration: none;
            }
            
        }

        &--bottom {
            display: flex;
            gap: 1rem;
            justify-content: center;
            padding: 0rem 5rem;
            height: 63%;
        }
    }

    &__logo {
        width: 23.5rem;
        background-color: #333; /* altere para a cor que desejar */
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 13rem;
        clip-path: polygon(0 0,100% 0,81% 100%,19% 100%);
        box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.35);

        &--img { 
            width:10rem;
            height:10rem;
        }
    }

    &__link {
        display: flex;
        text-decoration: none;
        font-weight: 700;
        width: 14rem;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        border-bottom: 0.5rem solid transparent;
        
        &:hover {
            border-bottom: 0.5rem solid red;
            transition: border-bottom 0.3s ease;
        }

        &:active {
            border-bottom: 0.5rem solid red;
        }
    }
}