header {
    background-color: #17161a;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
    height: 120px;
    padding: 0 63px;
}

#left-header {
    width: 536px;
    text-align: right;
    position: relative;
    z-index: 2;
    position: relative;
    height: 100%;
    padding: 0 40px 0 70px;
    vertical-align: middle;
    display: inline-block;
}

#left-inner-border-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    border-left: 1px solid rgba(203,203,203,.1);
    -webkit-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    transform: skewX(15deg);
}

#social-header {
    background-color: transparent;
    display: flex;
    height: 37%;
}