@import 'src/styles.scss';

.footer {
  flex-shrink: 0; 
  background-color: $color-primary;
  height: 12rem;

  &__top {
    height: 7.56rem; // 63% of 120px
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &-text,
    &-link {
      color: $color-secundary-text;
    }

    &-link {
      text-decoration: none;
      display: flex;
      align-items: center;

      &-icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &__bottom {
    height: 4.44rem; // 37% of 120px
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      color: $color-secundary-text;
      font-size: 0.75em;
    }
  }
}