.banner {
    background-color: #071330;
    color: white;
    width: 100%;
    height: auto;
    padding: 0 9.4rem 9.4rem;

    display: flex;
    flex-direction: column;
}

.banner__content {
    padding-top: 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner__text {
    width: 100%;
}

.banner__heading {
    font-weight: 800;
    font-size: 7.2rem;
    line-height: 8rem;
    margin-bottom: 2.4rem;
}
