* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    //This defines what 1rem is
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right,#17161a,#242124 50%,#17161a);
}

main {
    padding: 5rem;
    flex-grow: 1;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}