//Colors
$color-primary: #17161a;
$color-secondary: #636363;
$color-tertiary: #f00;
$color-tertiary-hover:#c00;
$color-tertiary-active: #a00;
$color-primary-text: #fff;
$color-secundary-text: silver;

//Grid
$grid-width: 120rem;