<section class="cv-summary-container">
  <h2 class="cv-summary-container__title">Summary</h2>
  <div class="cv-summary-container__content container">
    <div class="cv-summary-container__intro col-7">
      <div>
        <h3>Career Objectives</h3>
        <p>To contribute as a Frontend Developer creating scalable and high-performance web applications. My goal is to
          apply best practices in modern frontend development while continuously improving user experience and
          collaborating with cross-functional teams.</p>
      </div>
      <div class="cv-summary-container__intro__text">
        <h3>Professional Summary</h3>
        <p>Frontend Developer with over a decade of experience in web development, beginning in 2010. Strong foundation
          in JavaScript, TypeScript, UX/UI, and scalable architecture. Experienced in building responsive, accessible,
          and user-centric applications across diverse industries. My background in business administration and
          communication enhances my ability to bridge the gap between technical execution and strategic goals. I bring a
          holistic approach to product development, uniting technical expertise with user experience and business
          impact. With a proven record in software engineering, product design, and entrepreneurship, I am committed to
          delivering innovative solutions that drive business success.</p>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="cv-summary-container__img col-4">Foto</div>
  </div>
  <div class="cv-summary-container__skills container">
    <h3 class="col-12">Core Competencies</h3>
  </div>
  <div class="cv-summary-container__skills-list container">
    <div class="cv-summary-container__skills-list__column col-6">
      <div class="cv-summary-container__skills-list__title">
        <h4>Technical Skills</h4>
        <div class="divider"></div>
      </div>
      <app-skill-bar [progressWidth]="'80%'" [label]="'TypeScript'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'90%'" [label]="'HTML/CSS'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'90%'" [label]="'JavaScript'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'80%'" [label]="'Angular'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'70%'" [label]="'Node.js'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'40%'" [label]="'React'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'20%'" [label]="'React Native'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'70%'" [label]="'Figma'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'20%'" [label]="'Next.js'" [color]="0"></app-skill-bar>
      <app-skill-bar [progressWidth]="'50%'" [label]="'MongoDB'" [color]="0"></app-skill-bar>
    </div>
    <div class="cv-summary-container__skills-list__column col-6">
      <div>
        <div class="cv-summary-container__skills-list__title">
          <h4>Soft Skills</h4>
          <div class="divider"></div>
        </div>
        <app-skill-bar [progressWidth]="'100%'" [label]="'Communication'" [color]="1"></app-skill-bar>
        <app-skill-bar [progressWidth]="'90%'" [label]="'Teamwork'" [color]="1"></app-skill-bar>
        <app-skill-bar [progressWidth]="'80%'" [label]="'Problem-solving'" [color]="1"></app-skill-bar>
        <app-skill-bar [progressWidth]="'90%'" [label]="'Time Management'" [color]="1"></app-skill-bar>
        <app-skill-bar [progressWidth]="'90%'" [label]="'Leadership'" [color]="1"></app-skill-bar>
      </div>
      <div>
        <div class="cv-summary-container__skills-list__title">
          <h4>Languages</h4>
          <div class="divider"></div>
        </div>
        <app-skill-bar [progressWidth]="'100%'" [label]="'Portuguese'" [color]="2"></app-skill-bar>
        <app-skill-bar [progressWidth]="'80%'" [label]="'English'" [color]="2"></app-skill-bar>
        <app-skill-bar [progressWidth]="'50%'" [label]="'Spanish'" [color]="2"></app-skill-bar>
      </div>
    </div>
  </div>
</section>
