.contact-page {
  background-color: #c3ceda;
  width: 100%;
  padding: 9.4rem;
  color: #1e1e1e;
}

.contact-page__title {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;
  margin-bottom: 6.4rem;
  text-align: center;
}

.contact-page__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}

.contact-page__text {
  font-size: 1.6rem;
  line-height: 3.2rem;
  width: 20%;
}

.contact-page__text .material-symbols-outlined {
  font-size: 4rem;
}

.contact-page__linkedin-badge-container {
  position: relative;
  min-height: 120px;
}

@media (max-width: 950px) {
  .contact-page__content {
    flex-direction: column;
  }

  .contact-page__text {
    width: 100%;
  }
}
