<app-inner-banner [title]="'Contact'"></app-inner-banner>
<div class="contact-page">
  <div class="contact-page__content container">
    <div class="contact-page__linkedin-badge-container col-6" #badgeContainer>
      <app-loading-indicator
        class="loader"
        *ngIf="loading"
      ></app-loading-indicator>
      <div
        class="badge-base LI-profile-badge"
        data-locale="en_US"
        data-size="large"
        data-theme="light"
        data-type="HORIZONTAL"
        data-vanity="renan-girardi-freitas-6603b01a1"
        data-version="v1"
      >
        <a
          class="badge-base__link LI-simple-link"
          href="https://br.linkedin.com/in/renan-girardi-freitas-6603b01a1?trk=profile-badge"
        ></a>
      </div>
    </div>
    <div class="contact-page__text col-6">
      <span class="material-symbols-outlined">chat</span>
      <div>
        For any kind of contact, whether for professional reasons or just to
        network, feel free to send me a message on my
        <strong>Linkedin</strong> profile.
      </div>
    </div>
  </div>
</div>
