<section class="container about-me-content">
  <div class="col-12 container about-me-content__row-1">
    <div class="col-6 about-me-content__text">
      <p>
        My name is Renan, I’m 35 years old and I was born in Porto Alegre,
        the capital of the southernmost state in Brazil. I’ve been married
        for 12 years, I’m the proud father of a 3-year-old boy, and I share my
        home with a very cheerful little dog named Buba.
      </p>
      <p>
        I grew up in a working-class neighborhood, and thanks to my parents’
        effort to provide me with quality education, I learned early on that
        knowledge is the key to growth and to achieving great goals. This mindset
        shaped who I am today and made me someone who is always eager to learn and
        explore new opportunities.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <img src="assets\images\about-me-1.png" alt="" />
    </div>
  </div>
  <div class="col-12 container about-me-content__row-2">
    <div class="col-5">
      <img src="assets\images\about-me-3.png" alt="" />
    </div>
    <div class="col-1"></div>
    <div class="col-6 about-me-content__text">
      <p>
        Throughout my life, I’ve studied different fields and practiced a wide
        range of sports — boxing, running, soccer, swimming, volleyball — and
        nowadays I dedicate myself to Taekwondo, a discipline that challenges
        me both physically and mentally.
      </p>
      <p>
        I also have some personal passions that have been part of my journey
        for years. I’m a big fan of The Witcher book series, the Lord of the
        Rings movies, and music that inspires me — my favorite bands include
        Pink Floyd, Pearl Jam, and Ramones. These interests reflect a lot of
        who I am: someone who values creativity, powerful stories, and intensity.
      </p>
    </div>
  </div>
  <div class="col-12 container about-me-content__row-3">
    <div class="col-6 about-me-content__text">
      <p>
        From an early age, I was fascinated by technology. When it came time
        to choose my first degree, my love for strategy and city-building games
        led me to pursue a degree in Business Administration. Over time, while
        working in that field, I realized that what truly fascinated me wasn’t
        the subject of those games, but rather the computer itself and the
        possibilities that technology could unlock.
      </p>
      <p>
        In 2020, during the pandemic, this interest took on a new meaning. That
        was the moment I decided to fully shift my career towards technology.
        The turning point happened while I was playing Hellblade: Senua’s Sacrifice.
        The immersion offered by the game and the way it guided the player with
        almost no traditional UI elements sparked a deep curiosity in me about the
        creative process behind it. To my surprise, the game’s menu included a
        behind-the-scenes video showing the research and development stages that
        brought the project to life. That experience profoundly inspired me and
        cemented my desire to work with technology — especially in creating digital
        experiences that engage and impact people.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <img src="assets\images\about-me-2.png" alt=""/>
    </div>
  </div>
</section>
