<section class="ai">
  <div class="ai__content">
    <h2 class="ai__heading">AI enthusiast</h2>
    <p class="ai__text">I am deeply passionate about the potential of <strong>AI technology</strong> to redefine the
      future of work. I firmly believe that integrating AI tools enhances our human capabilities, making us more
      efficient and innovative. Through personal and professional exploration, I've experienced how AI can
      <strong>transform processes, boost creativity, and support informed decisions</strong>. We are on the cusp of a
      new era where human-AI collaboration shapes a new paradigm of excellence.</p>
  </div>
  <div class="ai__icons">
    <div class="open-ai-logo"></div>
    <div class="midjourney-logo"></div>
    <div class="copilot-logo"></div>
  </div>
</section>
