<section class="banner container">
  <div class="banner__content col-12">
    <div class="banner__text">
      <h2 class="banner__heading">Welcome,
        <br>I'm glad you're here
      </h2>
      <p class="banner__description">Learn more about my work by checking out some of my personal projects.</p>
      <app-button [style]="'primary'" [size]="'medium'" [text]="'View my portfolio'" [routerLink]="['portfolio']"></app-button>
    </div>
    <div class="banner__image-container">
      <div class="banner__image">
        <div class="card-skills">
          <div class="card-skills--profile-pic"> <img src="assets/images/homepage/banner-profile-pic.png"></div>
          <div class="card-skills--skill-bars">
            <div class="card-skills--top"></div>
            <div class="card-skills--bars">
              <div class="bar bar-1"></div>
              <div class="bar bar-2"></div>
              <div class="bar bar-3"></div>
              <div class="bar bar-4"></div>
              <div class="bar bar-5"></div>
              <div class="bar bar-6"></div>
              <div class="bar bar-7"></div>
            </div>
          </div>
        </div>
        <div class="image-slider">
          <div class="slide" style="background-image: url('assets/images/homepage/banner-peanuts-large.jpeg'); top: 0;"></div>
          <div class="slide" style="background-image: url('assets/images/homepage/banner-cthulhu-large.jpg'); "></div>
          <div class="slide" style="background-image: url('assets/images/homepage/banner-buba-large.jpeg'); "></div>
          <div class="slide" style="background-image: url('assets/images/homepage/banner-tuquinho-large.jpeg'); "></div>
        </div>
        <div class="circle-background"></div>
      </div>
    </div>
  </div>
</section>
