/******** ABOUT AREA ********/

.about {
    padding: 9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__heading {
    margin-bottom: 6.4rem;
}

.about__content {
    align-items: center;
}

.about__photo {
    width: 100%;
    max-width: 20vw;
    min-width: 20vw;
}

.about__photo img {
    border-radius: 6px;
}

.about__name {
    margin-bottom: 1.8rem ;
}

.about__bio {
    margin-bottom: 5.8rem;
}

.about__link {
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.8rem 3.6rem 1.6rem;
    border-radius: 6px;
    box-shadow: 2px 1px 5px #888888;
}

.about__link:hover, .about__link:active, .about__link:focus {
    color: #fff;
    background-color: #0C4160;
}
