<section class="about">
  <h2 class="about__heading">Here I am...</h2>
  <div class="about__content">
    <div class="about__photo">
      <img src="assets/images/home-1.png">
    </div>
    <div class="about__info">
      <h3 class="about__name">Renan Girardi</h3>
      <p class="about__bio">I'm, an AB testing analyst, front-end developer, and AI enthusiast, with a knack for
        management and digital product design. Passionate about technology and UX, I'm on a quest to fuse my skills for
        innovation, especially in the gaming industry through AI. As a new father to Arthur, my journey is filled with
        continuous learning and growth. Click below and read my full story!
      </p>
      <a routerLink="about-me" class="about__link">Learn more about me</a>
    </div>
  </div>
</section>
