.tag {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 1.2rem 1.2rem;
  font-size: 1.4rem;
  display: inline-block;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  color: #1e1e1e;
}

.tag:hover {
  background-color: #d0d0d0;
}
