<section class="container about-me-content">
  <div class="col-12 container about-me-content__row-1 fade-in" appFadeIn>
    <div class="col-6 about-me-content__text">
      <p>
        My name is <span class="highlight">Renan</span>, I’m {{ myAge }} years old and I was born in Porto Alegre,
        the capital of Rio Grande do Sul, the southernmost state in Brazil. I’ve been married
        for {{ marriageAge }} years, I’m the proud father of a <span class="highlight">{{ sonAge }}-year-old boy</span>, and I share my
        home with a very cheerful little dog named <span class="highlight">Buba</span>.
      </p>
      <p>
        I grew up in a working-class neighborhood, and thanks to my parents’
        effort to provide me with quality education, I learned early on that
        <span class="highlight">knowledge is the key to growth and to achieving great goals</span>. This mindset
        shaped who I am today and made me someone who is always eager to learn and
        explore new opportunities.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <img src="assets\images\about-me\about-me-1.png" alt="" />
    </div>
  </div>

  <div class="col-12 container about-me-content__row-2 fade-in" appFadeIn>
    <div class="col-5 about-me-content__image">
      <img src="assets\images\about-me\about-me-3.png" alt="" />
    </div>
    <div class="col-1"></div>
    <div class="col-6 about-me-content__text">
      <p>
        Throughout my life, I’ve studied different fields and practiced a wide
        range of sports — boxing, running, soccer, swimming, volleyball — and
        nowadays I dedicate myself to <span class="highlight">Taekwondo</span>, a discipline that challenges
        me both physically and mentally.
      </p>
      <p>
        I also have some personal passions that have been part of my journey
        for years. I’m a big fan of <span class="highlight">The Witcher</span> book series, the <span class="highlight">Lord of the Rings</span>
        movies, and music that inspires me — my favorite bands include
        <span class="highlight">Pink Floyd</span>, <span class="highlight">Pearl Jam</span>, and <span class="highlight">Angra</span>.
        These interests reflect a lot of
        who I am: someone who values creativity, powerful stories, and intensity.
      </p>
    </div>
  </div>

  <div class="col-12 container about-me-content__row-3 fade-in" appFadeIn>
    <div class="col-6 about-me-content__text">
      <p>
        From an early age, I was fascinated by technology. When it came time
        to choose my first degree, my love for strategy and city-building games
        led me to pursue a degree in <span class="highlight">Business Administration</span>. Over time, while
        working in that field, I realized that what truly fascinated me wasn’t
        the subject of those games, but rather the computer itself and the
        possibilities that technology could unlock.
      </p>
      <p>
        In 2020, during the pandemic, this interest took on a new meaning. That
        was the moment I decided to fully shift my career towards technology.
        The turning point happened while I was playing <span class="highlight">Hellblade: Senua’s Sacrifice</span>.
        The immersion offered by the game and the way it guided the player with
        almost no traditional UI elements sparked a deep curiosity in me about the
        creative process behind it. To my surprise, the game’s menu included a
        behind-the-scenes video showing the research and development stages that
        brought the project to life. That experience profoundly inspired me and
        cemented my desire to work with technology, <span class="highlight">especially in creating digital
        experiences</span> that engage and impact people.
      </p>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <img src="assets\images\about-me\about-me-2.png" alt=""/>
    </div>
  </div>
</section>
