.about-me-content {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.about-me-content__row-1,
.about-me-content__row-2 {
  margin-bottom: 1.6rem;
}

.about-me-content__row-1,
.about-me-content__row-2,
.about-me-content__row-3 {
  align-items: center;
}

.about-me-content__text p {
  margin-bottom: 1.6rem;
  text-align: justify;
}

.about-me-content__text p:last-child {
  margin-bottom: 0;
}

@media (min-width: 951px) {
  .about-me-content {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 758px) {
  .about-me-content__row-2 {
    display: flex;
    flex-direction: column;
  }

  .about-me-content__row-2 .about-me-content__image {
    order: 2;
  }
}
