<section class="cv">
  <div class="cv__column">
    <div class="cv__heading">
      <h2>Experience</h2>
    </div>
    <app-homepage-cv-item *ngFor="let item of experienceItems" [icon]="item.icon" [title]="item.job"
      [subtitle]="item.company"></app-homepage-cv-item>
    <div class="cv__cta">
      <a routerLink="cv" class="banner__portfolio-link">View the whole experience</a>
    </div>
  </div>
  <div class="cv__column">
    <div class="cv__heading">
      <h2>Education</h2>
    </div>
    <app-homepage-cv-item *ngFor="let item of educationItems" [icon]="item.icon" [title]="item.course"
      [subtitle]="item.university"></app-homepage-cv-item>
    <app-homepage-cv-item [icon]="'School'" [title]="'+15 Certificates in different areas'"
      [subtitle]="'Udemy, Alura, Unisinos, Franklin Covey, etc.'"></app-homepage-cv-item>
    <div class="cv__cta">
      <a routerLink="cv" class="banner__portfolio-link">View all education</a>
    </div>
  </div>

</section>
