/******** ABOUT AREA ********/

.about {
    padding: 9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__heading {
    margin-bottom: 6.4rem;
}

.about__content {
    align-items: center;
}

.about__photo {
    width: 100%;
    max-width: 20vw;
    min-width: 20vw;
}

.about__photo img {
    border-radius: 6px;
}

.about__name {
    margin-bottom: 1.8rem ;
}

.about__bio {
    margin-bottom: 5.8rem;
}
