<section class="container about fade-in" appFadeIn>
  <h2 class="about__heading col-12">Here I am...</h2>
  <div class="container about__content col-12">
    <div class="col-1 ghost-column"></div>
    <div class="col-4 about__photo">
      <img src="assets/images/homepage/home-1.png" />
    </div>
    <div class="col-1 ghost-column"></div>
    <div class="col-5">
      <h3 class="about__name">My name is Renan Girardi</h3>
      <p class="about__bio">
        I'm a Front-end developer and AI enthusiast, with a knack for management
        and digital product design. Passionate about technology and UX, I'm on a
        quest to combine my skills to build innovative and user-friendly digital
        experiences. As a new father to Arthur, my journey is filled with
        continuous learning and growth.
        <span class="highlight">Click below and read my full story!</span>
      </p>
      <app-button
        [style]="'tertiary'"
        [size]="'medium'"
        [text]="'Learn more about me'"
        [routerLink]="['about-me']"
      ></app-button>
    </div>
    <div class="col-1"></div>
  </div>
</section>
