.about {
  padding-top: 9rem;
  padding-bottom: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__heading {
  margin-bottom: 6.4rem;
}

.about__content {
  align-items: center;
}

.about__photo {
  width: 100%;
  max-width: 20vw;
  min-width: 20vw;
}

.about__photo img {
  border-radius: 6px;
}

.about__name {
  margin-bottom: 1.8rem;
}

.about__bio {
  margin-bottom: 5.8rem;
}

@media (min-width: 951px) {
}

@media (max-width: 950px) {
  .about__photo,
  .about__text {
    grid-column: span 12;
  }

  .about__photo {
    width: 100%;
    max-width: 60%;
    margin: 0 auto 1.6rem;
  }
}

@media (max-width: 768px) {
  .about__content {
    display: block;
  }

  .about__photo {
    margin: 0 auto 6.4rem;
    width: 100%;
    max-width: 70%;
  }
}
