<app-inner-banner [title]="'Portfolio'"></app-inner-banner>

<section class="container">
  <div *ngFor="let item of portfolioItems" class="col-12">
    <img
      [src]="item.imageUrls[0]"
      [alt]="item.title"
      (click)="navigateToPortfolioItem(item)"
    />
    <h3>{{ item.title }}</h3>
    <p>{{ item.summary }}</p>
    <app-tag *ngFor="let tech of item.technologies" [tag]="tech"></app-tag>
    <app-button
      [style]="'primary'"
      [size]="'medium'"
      [text]="'View Project'"
      [routerLink]="['portfolio-item', item.route]"
    ></app-button>
  </div>
</section>

<app-next-page
  class="tertiary-background"
  [nextPage]="'contact'"
  [text]="
    'Would you like to get in touch now that you\'ve explored my portfolio?'
  "
  [btnText]="'Contact'"
></app-next-page>
