.container {
  padding-top: 9.4rem;
  padding-bottom: 9.4rem;
}

.portfolio-item {
  align-items: center;
  width: 100%;
  min-height: 60rem;
}

.portfolio-item__container {
  padding: 3.2rem;
  width: 100%;
  height: 100%;
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition:
    background-image 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 1.6rem;
  color: #fff;
}

.portfolio-item__container:hover {
  background-image: var(--bg-hover);
  transform: translateY(-2px);
}

.portfolio-item__container:hover {
  padding: 3.2rem;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1.6rem;

  color: #fff;
}

.portfolio-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.portfolio-item-details div {
  margin-bottom: 1.6rem;
}

.portfolio-item-details div:last-child {
  margin-bottom: 0;
}

.portfolio-item-details__link {
  text-decoration: underline;
}

@media (min-width: 951px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 950px) {
  .container {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .image-container {
    height: 30rem;
  }

  .portfolio-item div {
    margin-bottom: 1.6rem;
  }

  .portfolio-item__container {
    padding: 3.2rem;
    width: 100%;
    height: 100%;
    background-image: var(--bg-hover);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition:
      background-image 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 1.6rem;
    color: #fff;
  }
}
