<app-inner-banner [title]="'Portfolio'"></app-inner-banner>

<section class="container">
  <div
    *ngFor="let item of portfolioItems"
    class="col-6 container portfolio-item"
  >
    <div
      class="col-12 portfolio-item__container"
      [style.--bg]="'url(' + item!.imageUrls[0] + ')'"
      [style.--bg-hover]="
        'linear-gradient(rgb(30, 30, 30, 0.8), rgb(30, 30, 30, 0.8)),url(' +
        item!.imageUrls[0] +
        ')'
      "
      (click)="navigateToPortfolioItem(item)"
      (mouseenter)="revealContent(item)"
      (mouseleave)="hideContent()"
    >
      <div
        class="portfolio-item-details"
        *ngIf="hoveredItem === item || isMobile"
      >
        <div>
          <h3>{{ item.title }}</h3>
        </div>
        <div>
          <p>{{ item.summary }}</p>
        </div>
        <div class="portfolio-item-details__technologies">
          <app-tag
            *ngFor="let tech of item.technologies"
            [tag]="tech"
          ></app-tag>
        </div>
        <div>
          <p class="portfolio-item-details__link">Click to check details -></p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-next-page
  class="tertiary-background"
  [nextPage]="'contact'"
  [text]="
    'Would you like to get in touch now that you\'ve explored my portfolio?'
  "
  [btnText]="'Contact'"
></app-next-page>
