.container {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  color: white;
  align-items: center;
}

h3 {
  text-align: right;
}

app-button {
  margin-right: auto;
}

@media (min-width: 951px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 758px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    text-align: center;
  }

  app-button {
    margin-right: auto;
    margin-left: auto;
  }
}
