<app-inner-banner [title]="'Curriculum vitæ'"></app-inner-banner>
<div class="secondary-background">
  <app-cv-summary></app-cv-summary>
</div>
<div class="cv-experience-container">
  <app-cv-experience></app-cv-experience>
</div>
<div class="cv-education-container">
  <app-cv-education></app-cv-education>
</div>
<app-next-page
  class="tertiary-background"
  [nextPage]="'portfolio'"
  [text]="
    'Now that you know my background, would you like to see my portfolio?'
  "
  [btnText]="'Portfolio'"
></app-next-page>
