<section class="portfolio container">
  <div class="portfolio__header container">
    <div class="col-9">
      <h2 class="portfolio__heading">Latest Work</h2>
    </div>
    <div class="col-3">
      <a class="header__contact-link" routerLink="portfolio">
        Explore Portfolio
      </a>
    </div>
  </div>
  <div class="portfolio__latest-works container">
    <div class="portfolio__latest-works--item portfolio__latest-works--item-1 col-4">
      <p class="portfolio__badge">Angular</p>
      <h3 class="portfolio__item">Sticker Story</h3>
    </div>
    <div class="portfolio__latest-works--item portfolio__latest-works--item-2 col-4">
      <p class="portfolio__badge">Angular</p>
      <h3 class="portfolio__item">Website</h3>
    </div>
    <div class="portfolio__latest-works--item portfolio__latest-works--item-3 col-4">
      <p class="portfolio__badge">Game</p>
      <h3 class="portfolio__item">Elder Scrolls X</h3>
    </div>
  </div>
</section>
