.cv-education-certificates__title {
  text-align: center;
  flex: 1;
}

.cv-education-certificates__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
  position: relative;
}

.cv-education-certificates__sort {
  position: absolute;
  right: 0;
}

.cv-education-certificates__sort label {
  margin-right: 0.8rem;
  font-size: 1.6rem;
}

select {
  padding: 1rem;
  font-size: 1.4rem;
  border: 0;
  background-color: var(--color-secondary);
  border-radius: 4px;
}

select option {
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 0;
}

.cv-education-container__title {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;
  margin-bottom: 6.4rem;
  text-align: center;
}

.cv-education-certificates__container {
  align-items: center;
  padding: 0;
}

@media (max-width: 758px) {
  .cv-education-certificates__header {
    flex-direction: column;
    align-items: center;
  }

  .cv-education-certificates__sort {
    position: relative;
    margin-top: 1.6rem;
  }
}
