<section class="container">
  <h2 class="cv-education-container__title col-12">Education</h2>
  <app-cv-education-item class="col-12" *ngFor="let item of educationItems" [educationItem]="item"></app-cv-education-item>
  <div class="col-12">
    <h3 class="cv-education-certificates__title">Certificates</h3>
    <div class="cv-education-certificates__container container">
      <app-cv-education-certificate class="col-4" *ngFor="let certificate of certificates" [certificate]="certificate"></app-cv-education-certificate>
    </div>
  </div>
</section>
