.cv-education-certificates__title {
    font-weight: 800;
    font-size: 4.2rem;
    line-height: 6.4rem;
    margin-bottom: 6.4rem;
    text-align: center;
}

.cv-education-certificates__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.6rem;

  flex-wrap: wrap;
}

.cv-education-container__title {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 6.4rem;
    margin-bottom: 6.4rem;
    text-align: center;
}

