/******** AI AREA ********/

.ai {
    color: #fff;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    align-items: center;
}

.ai__text {
    font-size: 1.6rem;
    line-height: 3.2rem;
}

.ai__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.open-ai-logo {
    width: 10rem;
    height: 10rem;
    position: relative;
    background-image: url('/assets/images/homepage/openai-svgrepo-com.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.copilot-logo {
    width: 10rem;
    height: 10rem;
    position: relative;
    background-image: url('/assets/images/homepage/github-copilot-seeklogo.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.midjourney-logo {
    width: 10rem;
    height: 10rem;
    position: relative;
    background-image: url('/assets/images/homepage/midjourney-seeklogo.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media (min-width: 951px) {
  .ai {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 950px) {
  .ai__icons {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .ai{
    display: block;
  }

  .ai__icons {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: row;
  }
}
