.cv-education-container {
    background-color: #C3CEDA;
    width: 100%;
    padding: 9.4rem;
    color: #1e1e1e;
}

.cv-experience-container {
    background-color: #ffffff;
    width: 100%;
    padding: 9.4rem;
    color: #1e1e1e;
}

