<section class="container cv fade-in" appFadeIn>
  <div class="cv-experience col-6">
    <div class="cv__heading">
      <h2>Experience</h2>
    </div>
    <ng-container *ngFor="let item of experienceItems">
      <app-homepage-cv-item [icon]="item.icon" [title]="item.job"
        [subtitle]="item.company"></app-homepage-cv-item>
      <div class="divider" [ngClass]="{'hidden': item === experienceItems[experienceItems.length - 1]}"></div>
    </ng-container>
    <div class="cv__cta">
      <a routerLink="cv" class="banner__portfolio-link">View the whole experience</a>
    </div>
  </div>
  <div class="cv-education col-6">
    <div class="cv__heading">
      <h2>Education</h2>
    </div>
    <ng-container *ngFor="let item of educationItems">
      <app-homepage-cv-item [icon]="item.icon" [title]="item.course"
        [subtitle]="item.university"></app-homepage-cv-item>
        <div class="divider"></div>
    </ng-container>
    <app-homepage-cv-item [icon]="'School'" [title]="'+15 Certificates in different areas'"
      [subtitle]="'Udemy, Alura, Unisinos, Franklin Covey, etc.'"></app-homepage-cv-item>
    <div class="cv__cta">
      <a routerLink="cv" class="banner__portfolio-link">View all education</a>
    </div>
  </div>

</section>
