/* You can add global styles to this file, and also import other style files */
$color-primary: #17161a;
$color-secondary: #636363;
$color-primary-text: #fff;
$color-secundary-text: silver;

* {
    font-family: Rubik,sans-serif;
    font-size: 16px;
    color: $color-primary-text;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#17161a,#242124 50%,#17161a);
}
  
main {
    padding: 50px;
    flex-grow: 1;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}