<section class="cv-summary-container container">
  <h2 class="cv-summary-container__title col-12 fade-in" appFadeIn>Summary</h2>
  <div
    class="cv-summary-container__content col-12 container-sec fade-in"
    appFadeIn
  >
    <div class="cv-summary-container__intro col-7">
      <div>
        <h3>Career Objectives</h3>
        <p>
          Work as a <span class="highlight">Frontend Developer</span> with a
          focus on <span class="highlight">Angular</span>, contributing to the
          development of scalable and high-performance web applications. My goal
          is to apply modern best practices, continuously enhance the user
          experience, and collaborate with cross-functional teams.
        </p>
      </div>
      <div class="cv-summary-container__intro__text">
        <h3>Professional Summary</h3>
        <p>
          Frontend Developer with over 10 years of experience in web
          development, working since 2010. Specialized in
          <span class="highlight"
            >Angular, JavaScript, TypeScript, UX/UI, and scalable
            architecture</span
          >. Strong background in building responsive, accessible, and
          user-centered applications across different industries.
        </p>

        <p>
          My academic background in Business Administration and Systems
          Development, combined with strong communication skills, strengthens my
          ability to align technical execution with strategic objectives. I
          bring a holistic perspective to product development, merging technical
          expertise with a focus on user experience and business impact.
        </p>

        <p>
          With a proven track record in software engineering, product design,
          and entrepreneurship, I excel in collaborative environments that
          demand both creative and analytical thinking.
        </p>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="cv-summary-container__img col-4"></div>
  </div>
  <div class="col-12 fade-in" appFadeIn>
    <div class="cv-summary-container__skills container-sec">
      <h3 class="col-12">Core Competencies</h3>
    </div>
    <div class="cv-summary-container__skills-list container-sec col-12">
      <div class="cv-summary-container__skills-list__column col-6">
        <div class="cv-summary-container__skills-list__title">
          <h4>Technical Skills</h4>
          <div class="divider"></div>
        </div>
        <app-skill-bar
          [progressWidth]="'80%'"
          [label]="'TypeScript'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'90%'"
          [label]="'HTML/CSS'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'90%'"
          [label]="'JavaScript'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'80%'"
          [label]="'Angular'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'70%'"
          [label]="'Node.js'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'40%'"
          [label]="'React'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'20%'"
          [label]="'React Native'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'70%'"
          [label]="'Figma'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'20%'"
          [label]="'Next.js'"
          [color]="2"
        ></app-skill-bar>
        <app-skill-bar
          [progressWidth]="'50%'"
          [label]="'MongoDB'"
          [color]="2"
        ></app-skill-bar>
      </div>
      <div class="cv-summary-container__skills-list__column col-6">
        <div>
          <div class="cv-summary-container__skills-list__title">
            <h4>Soft Skills</h4>
            <div class="divider"></div>
          </div>
          <app-skill-bar
            [progressWidth]="'100%'"
            [label]="'Communication'"
            [color]="1"
          ></app-skill-bar>
          <app-skill-bar
            [progressWidth]="'90%'"
            [label]="'Teamwork'"
            [color]="1"
          ></app-skill-bar>
          <app-skill-bar
            [progressWidth]="'80%'"
            [label]="'Problem-solving'"
            [color]="1"
          ></app-skill-bar>
          <app-skill-bar
            [progressWidth]="'90%'"
            [label]="'Adaptability'"
            [color]="1"
          ></app-skill-bar>
          <app-skill-bar
            [progressWidth]="'90%'"
            [label]="'Leadership'"
            [color]="1"
          ></app-skill-bar>
          <app-skill-bar
            [progressWidth]="'100%'"
            [label]="'Empathy'"
            [color]="1"
          ></app-skill-bar>
        </div>
        <div>
          <div class="cv-summary-container__skills-list__title">
            <h4>Languages</h4>
            <div class="divider"></div>
          </div>
          <app-skill-bar
            [progressWidth]="'100%'"
            [label]="'Portuguese'"
            [color]="0"
          ></app-skill-bar>
          <app-skill-bar
            [progressWidth]="'80%'"
            [label]="'English'"
            [color]="0"
          ></app-skill-bar>
          <app-skill-bar
            [progressWidth]="'50%'"
            [label]="'Spanish'"
            [color]="0"
          ></app-skill-bar>
        </div>
      </div>
    </div>
  </div>
</section>
