.cv-summary-container {
  padding: 9rem 0;
}

.cv-summary-container__title {
  margin-bottom: 6.4rem;
  text-align: center;
}

.cv-summary-container__content {
  margin-bottom: 6.4rem;
  position: relative;
}

.cv-summary-container__content h3 {
  margin-bottom: 0.8rem;
}

.cv-summary-container__img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/cv/cv_cthulhu.png");
  background-size: cover;
  border-radius: 1.6rem;
}

.cv-summary-container__intro__text {
  margin-top: 3.2rem;
}

.cv-summary-container__intro__text p {
  margin-bottom: 1.6rem;
}

.cv-summary-container__intro__text p:last-child {
  margin-bottom: 0;
}

.cv-summary-container__skills-list {
  display: flex;
  gap: 2rem;
  width: 100%;
  position: relative;
}

.cv-summary-container__skills-list__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cv-summary-container__skills-list__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.cv-summary-container__skills-list__title .divider {
  flex: 4;
}

h4 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: 2.4rem 0 1.6rem;
  flex: 1.5;
}

@media (max-width: 950px) {
  .cv-summary-container__img {
    display: none;
  }

  .cv-summary-container__intro {
    grid-column: span 12;
  }

  .cv-summary-container__skills-list.container {
    display: flex;
    flex-direction: column;
  }
}
