<section class="banner">
    <div class="banner__content">
        <h1 class="banner__title">Welcome</h1>
        <button class="banner__button">About me</button>
    </div>
</section>

<section class="tech-strip">
    <h2 class="tech-strip__title">Main tech skills</h2>
    <div class="tech-strip__icons">
        <div class="tech-strip__icons--item"></div>
        <div class="tech-strip__icons--item"></div>
        <div class="tech-strip__icons--item"></div>
        <div class="tech-strip__icons--item"></div>
        <div class="tech-strip__icons--item"></div>
        <div class="tech-strip__icons--item"></div>
    </div>
</section>

<main></main>